[tool.black]
line-length = 100
target-version = ['py${{ values.pythonVersion | replace(".", "") }}']
include = '\.pyi?$'

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]

[tool.mypy]
python_version = "${{ values.pythonVersion }}"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false

